<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Widget 1</title>
  <link rel="stylesheet" href="css/widget_1.css">
</head>
<body>
  <div class="cb_wrap">
    <div class="cb_img">
      <img src="img/widget_1_img.png" alt="">
    </div>
    <div class="cb_close"></div>
    <div class="cb_phone">
      <div class="cb_text">Подробно ответим на ваши вопросы и<br> расскажем о наших товарах</div>
      <form action="">
        <input type="text" class="cb_input" placeholder="+7" required>
        <button class="cb_button">Жду звонка</button>
      </form>
    </div>
  </div>
  <div class="cb_wrap">
    <div class="cb_img">
      <img src="img/widget_1_img.png" alt="">
    </div>
    <div class="cb_close"></div>
    <div class="cb_load">
      <div class="cb_text">Соединяем</div>
      <div class="cb_timer">0:23</div>
      <div class="cb_loader">
        <span class="loader_circle"></span>
        <span class="loader_circle"></span>
        <span class="loader_circle"></span>
        <span class="loader_circle"></span>
        <span class="loader_circle"></span>
        <span class="loader_circle"></span>
        <span class="loader_circle"></span>
        <span class="loader_circle"></span>
      </div>
    </div>
  </div>
  <div class="cb_wrap">
    <div class="cb_img">
      <img src="img/widget_1_img.png" alt="">
    </div>
    <div class="cb_close"></div>
    <div class="cb_rec">
      <div class="cb_text">Перезвонить?</div>
      <form action="">
        <input type="text" class="cb_input" disabled>
        <button class="cb_button">Да <span class="rec_timer">23</span></button>
      </form>
    </div>
  </div>
</body>
</html>