<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Widget 2</title>
  <link rel="stylesheet" href="css/widget_3.css">
</head>
<body>

  <div class="cb_wrap">
    <div class="cb_close"><i class="fa fa-times" aria-hidden="true"></i></div>
    <div class="cb_text">Перезвоним за <span class="cb_timer">24 секунды</span></div>
    <form action="">
      <input class="cb_input" type="text" placeholder="Ваш номер телефона" required>
      <button class="cb_button"><i class="fa fa-phone" aria-hidden="true"></i></button>
    </form>
  </div>

  <div class="cb_thanks">
    <div class="thanks_title">Спасибо за заявку!</div>
    <button class="thanks_button">Ok</button>
    <div class="thanks_close">Закрыть <i class="fa fa-times" aria-hidden="true"></i></div>
  </div>

</body>
</html>