<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Widget 4</title>
  <link rel="stylesheet" href="css/widget_4.css">
</head>
<body>
  
  <div class="cb_wrap">
    <div class="cb_close"></div>
    <div class="cb_text">Перезвоним 
      <span class="cb_timer">через <br>20 секунд</span>
    </div>
    <form action="">
      <input class="cb_input" type="text" placeholder="+7 Ваш номер" required>
      <button class="cb_button">Заказать звонок</button>
    </form>
  </div>
  <div class="cb_load">
    <div class="load_timer">
      <span class="timer_reset">00:28.00</span>
    </div>
    <div class="load_text">Подождите...</div>
    <div class="load_close"></div>
  </div>
  <div class="load_wrapper">
    <div class="pie spinner"></div>
    <div class="pie filler"></div>
    <div class="mask"></div>
  </div>

</body>
</html>