<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Widget 15</title>
  <link rel="stylesheet" href="css/widget_15.css">
</head>
<body>
  <div id="capiWrapper" class="capiWrapper">
  
<div class="capiWrapperIcon"><div class="capiContainerIcon capiContainerIcon2 capiScroll capiPositionIcon4 capiActivity1 capiShow" style="top: 737px; display: block;">
  <i class="fa fa-phone"></i>
</div>
<style type="text/css">

  .capiWrapper .capiContainerIcon2{
    background-color: #00aff2;
  }

  .capiWrapper .capiContainerIcon2:hover{
          background-color: #75eb50;
      }

</style>
</div>
<div class="capiWrapperTemplate"></div>
</div>
</body>
</html>