<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Window 1</title>
  <link rel="stylesheet" href="css/window_1.css">
</head>
<body>
  
  <div class="cb_wrap">
    <div class="cb_content">
      <div class="cb_img">
        <img src="img/window_1_img.jpg" alt="">
      </div>
      <h3 class="cb_title">Здравствуйте, <br> хотите, мы перезвоним Вам?</h3>
      <form action="">
        <input class="cb_input" type="text" placeholder="Ваш номер телефона" required>
        <button class="cb_button">Позвоните мне!</button>
      </form>
    </div>
    <div class="cb_close">×</div>
  </div>

</body>
</html>