<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Window 2</title>
  <link rel="stylesheet" href="css/window_2.css">
</head>
<body>
  
  <div class="cb_window">
    <div class="cb_close"></div>
    <h2 class="cb_title">Мы перезвоним вам</h2>
    <h3 class="cb_subtitle">Укажите &#128222; телефон и мы гарантированно перезвоним вам.</h3>
    <form action="">
      <input class="cb_input" type="text" placeholder="Ваш номер" required>
      <button class="cb_button">Жду звонка!</button>
    </form>
  </div>

</body>
</html>