@import url('https://fonts.googleapis.com/css?family=Roboto:300');

.cb_w_wrap * {
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
}
.cb_w_wrap {
	background-color: rgba(240,240,240, 0.95);
	position: fixed;
	bottom: 0;
	right: 0;
	top: 0;
	width: 340px;
	min-width: 340px;
	z-index: 9999;
}
input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(51, 51, 51, 1);
}
input::-moz-placeholder { /* Firefox 19+ */
  color: rgba(51, 51, 51, 1);
}
input:-ms-input-placeholder { /* IE 10+ */
  color: rgba(51, 51, 51, 1);
}
input:-moz-placeholder { /* Firefox 18- */
  color: rgba(51, 51, 51, 1);
}
.cb_w_close {
	cursor: pointer;
	color: rgba(51, 51, 51, 1);
	font-size: 50px;
	line-height: 25px;
	position: absolute;
	right: 6px;
  top: 6px;
  opacity: 0.5;
  transition: opacity .15s ease-in-out;
}
.cb_w_close:hover {
	opacity: 1;
}
.cb_w_content {
	padding: 0 40px;
	text-align: center;
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}
.cb_w_content form {
	text-align: left;
}
.cb_w_img {
	box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
	border-radius: 50%;
  display: inline-block;
  height: 120px;
  overflow: hidden;
  width: 120px;
  margin-bottom: 22px;
}
.cb_w_title {
	text-align: left;
	font-size: 20px;
	line-height: 23px;
	margin: 0 0 7px 0;
}
.cb_w_input {
	background: rgba(208, 208, 208, 1);
	box-sizing: content-box;
	border: 1px solid rgba(0,0,0,.3);
	color: rgba(51, 51, 51, 1);
	box-shadow: none;
	font-size: 16px;
	margin: 0 0 7px 0;
	padding: 6px 10px;
	display: inline-block;
	width: 230px;
	outline: none;
}
.cb_w_button {
	font-size: 20px;
  padding: 12px 10px;
  background: rgba(244,67,54,.8);
  border: 1px solid rgba(0,0,0,.3);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-shadow: none;
  color: rgba(255,255,255,.9);
  cursor: pointer;
  font-size: 16px;
  margin: 0 0 7px 0;
  outline: 0;
  overflow: hidden;
  padding: 10px 10px;
  display: inline-block;
  width: 230px;
}
.cb_w_button:hover {
	background: rgba(244,67,54,.9);
}